@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    margin: 16px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 16px;
    text-align: center;
}

.styled-paragraph {
    font-weight: bold;
    font-style: italic; /* Make text bold */
    text-decoration: solid; /* Add underline decoration */
    color: rgb(0, 0, 0); /* Set text color (change to your preferred color) */
}




h2 {
    text-align: center;
    color: #333;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    margin: 16px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 16px;
    text-align: center;
}
